<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dgut.ssm.dao.GoodsDao">
    <!--    public Goods getGoodsById(Integer id);-->
    <select id="getGoodsById" resultType="com.dgut.ssm.bean.Goods">
    SELECT goods_id goodsId,name,price,quantity,on_sale onSale FROM goods WHERE goods_id= #{id} ;
    </select>
    <!--    public void update(Goods goods);-->
    <update id="update">
        UPDATE goods set `name`=#{name},price=#{price},quantity=#{quantity}, on_sale=#{onSale} WHERE goods_id=#{goodsId}
    </update>
    <!--    public List<Goods> getAnnGods();-->
    <select id="getAllGods" resultType="com.dgut.ssm.bean.Goods">
        SELECT goods_id goodsId,name,price,quantity, on_sale FROM goods
    </select>
    <!--public int DelGoodsById(Integer id);-->
    <delete id="DelGoodsById">
        DELETE FROM goods WHERE goods_id=#{id};
    </delete>
    <!--    public void AddGoods(Goods goods);-->
    <insert id="AddGoods" parameterType="com.dgut.ssm.bean.Goods" keyProperty="goodsId">
INSERT INTO goods(goods_id,`name`,price,quantity) VALUES (#{goodsId},#{name},#{price},#{quantity});
</insert>
    <!--    public Integer getQuantityById(Integer id);-->
    <select id="getQuantityById" resultType="Integer">
SELECT quantity FROM goods WHERE goods_id=#{id};
</select>
    <!--    public Integer reduceQuantityById(@Param("id") Integer id,@Param("num") Integer num);-->
    <update id="reduceQuantityById">
        UPDATE goods SET quantity = (quantity-#{num})  WHERE goods_id=#{id};
    </update>
    <update id="addQuantityById">
        UPDATE goods SET quantity = (quantity+#{num})  WHERE goods_id=#{id};
    </update>
<!--    public void disable(Integer id);-->
    <update id="disable">
         UPDATE goods SET on_sale=0  WHERE goods_id=#{id};
    </update>
<!--    public List<Goods> searchGoodsByCondition(GoodsSearchCondition goodsSearchCondition);-->
    <select id="searchGoodsByCondition" resultType="com.dgut.ssm.bean.Goods" parameterType="com.dgut.ssm.bean.GoodsSearchCondition">
        select * FROM goods
        <trim prefix="where" prefixOverrides="and">
            <if test="goodsId != null">
                and goods_id=#{goodsId}
            </if>
            <if test="name !=null and name.trim() !='' ">
                and name =#{name}
            </if>
            <if test="minPrice != null">
                    and price>#{minPrice}
            </if>
            <if test="maxPrice != null">
                and price <![CDATA[<]]> #{maxPrice}
            </if>
            <if test="minQuantity != null">
                and price>#{minQuantity}
            </if>
            <if test="maxQuantity != null">
                and price <![CDATA[<]]> #{maxQuantity}
            </if>
        </trim>
    </select>
</mapper>